@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');
.ti{
width: 100vw;
max-width: 100%;
display: block;
}

.uu{
    position: relative;
    text-align: center;
    color: white;
    margin: 0;
    border: 0;
}
.vv{
    position: absolute;
  bottom: 800px;;
  left: 30vw;
  margin: 0;
  padding: 0;
  font-family: 'Cormorant Garamond', serif;
  font-size: 40px;
  

}
.vv1{
    position: absolute;
  bottom: 400px;;
  left: 55px;
  margin: 0;
  padding: 15px;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  font-family: 'Cormorant Garamond', serif;
  border-radius: 15px;

}
.vv2{
    position: absolute;
  bottom: 500px;;
  right: 55px;
  margin: 0;
  padding: 15px;
  font-family: 'Cormorant Garamond', serif;
  background:  linear-gradient(rgba(0, 0, 0, 0.618), rgba(21, 20, 20, 0.749));
  border-radius: 15px;

}

.vv1:hover , .vv2:hover{
    font-size: 20px;
    background: #000;
    transition: 300ms;
}